*{
    font-family: 'Bree Serif', serif;
}

/* Home */
#home{ 
    position: absolute;
    background: url('images/back.jpg')center;
    height: 40rem;
    width: 100%;
}

#home h1{
    margin-top: 10rem;
    font-style: italic;
    position: relative;
}



/* Services */
#services{
    margin-top: 630px;
}

/* About us */
#aboutus{
    background-color: #3b3737;   
}


/*contact us */
#contact{
    background-color: #3b3737;   
}


